.main-container {
    margin: 10px;
    background-color:white;
    display: flex;
    flex-wrap: wrap;

  }  
  .sub-container {
    background-color:#f0f0f0;
    margin-left:5px;
    position: flex;

  }  
  .fecourse{
    margin-left:80px;
    font-size: 28px;
  }
  .titletexts{
    font-size:17px;
    cursor: pointer;
  }
  .title-stack{
    font-size:17px;
  }


.card_flex {
  display: inline-flex;
  flex-wrap: wrap;
}
.card_flex > div {
  margin: 6px;
}
  .card_data {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
  }
  .image-container {
    align-self: flex-start;
  }
  .tab-group-width {
    width: 100%;
  }
  .tabwidth{
    max-width: 50%;
  }
  .btn{
    padding:0px 40px;
    margin-right:20px;
    border:3px;
    outline: 1px solid blue;
    border-radius:20px;

  }
  .search-container {
    margin-top: 10px; 
    margin-right:20px;
  }
  
  .search-input {
    padding:8px 30px; 
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px; 
    border-radius: 52px;
  }
  .engtext{
    font-size: 50px;
    margin-top:100px;
    margin-bottom:30px;
  }
  .ontext{
    font-size: 40px;
    color:brown;
    margin-bottom:25px;

  }
  .coursetext{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
  }
  .spantxt{
    font-size:20px;
  }
  .flex{
    display: flex;
    flex-direction: row;
  }
  .card{
    padding:0px 260px 0px 0px; 
    width: 200px;
    border-radius:15px;
    margin-left:60px;
  
    
  }
  .text-container {
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Display ellipsis (...) for truncated text */
    flex-grow: 1; /* Allow the text container to expand to fill remaining space */
  }
  
  .image-container {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .image-container  {
    width: 50px; /* Adjust the width as needed */
  }

  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3%;
    padding-left: 120px;
  }
  .h2{
    margin-left:25px;
  }
  .course{
    color: grey;
    margin : 5px;
    margin-left:15px;
  }
  .left-half {
    width: 30%;
    float: left;
  }
  
  .right-half {
    width: 70%;
    float: right;
  }
  .png{
    height:60px;
  }

.header {
  display: flex;
  justify-content: space-between;
  overflow: none;
}
.img{
  margin-left:250px;
  margin-top:10px;
  max-width: 500px;
  margin-bottom:30px;
}
.cimg{
  height:30%
}
.carouse-container{
  margin-bottom:40px;
  margin-left:55px;

}
.image-slider {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left:8px;
}

.slider {
  display: flex;
  overflow: hidden;
}

.images-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 10px;
  text-align: start;
}

.images-container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

/* .images-container p {
  margin-top: 10px;
} */
.images-container h3{
  font-size: 14px;
  margin-bottom:1px;
  cursor: pointer;

}

.slider-btn{
  background-color:blue;
  border-radius: 13px;
  color: white;
  padding:15px 10px 15px 10px;
  border:1px solid white;
}
.dates{
  background-color:chocolate;
  padding:1px 5px 1px 5px;
}
.learnbtn{
  border-radius: 25px;
  background-color: rgb(72, 72, 119);
  color: white;
  padding:10px 30px 10px 30px;
  margin-right:20px;
  margin-bottom:20px;
  font-family:sans-serif;

}
.carousel{
  border-radius: 7px;
  box-shadow: 2px;
}
.arrowimg{
  max-width: 20px;
}
.content-texts{
  font-size: 15px;
}
.date-texts{
  font-size: 15px;
}
.lt{
  font-size: 30px;;
}
.sbtn{
  border-radius: 20px;
  background-color: rgb(72, 72, 119);
  color: white;
  padding:10px 30px 10px 30px;
  margin-right:20px;
  margin-bottom:20px;
  font-family:sans-serif;
  max-width:50%;
  border:1px solid white

}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 20px;
  flex-grow: 1;
}

.first-line {
  font-weight: bold;
}

.second-line {
  font-weight: lighter;
}

.right-content {
  text-align: right;
}
.header {
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 10px;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
}

.title {
    display: flex;
    align-items: center;
    
}

.vertical-line {
    width: 3px;
    height: 42px;
    background-color: black;
    margin: 0 5px;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.search-container {
    position: relative;
    padding-left: 700px;
    align-items: center;
}

.search-input {
    width: 200px;
    color: grey;
    padding: 6px 8px;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 15px;
    margin-top: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.search-input:focus {
    border-color: grey;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}

.search-button {
    position: absolute;
    color: grey;
    top: 70%;
    right: 2px;
    transform: translateY(-50%);
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-button i {
    color: #fff;
    font-size: 16px;
}

.search-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-container {
    display: flex;
    align-items: center;
    position: flex;
}

.profile-img {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-name {
    display: grid;
    margin: 0;
    font-size: 15px;
    padding: 8px;
}

.sidebar {
    position: absolute;
    transition: all 0.3s linear;
    width: 15px;
    margin-left: 15px;
    background-color: rgb(44, 88, 163);
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4);
}

.sidebar:hover {
    z-index: 0;
    width: max-content;
    position: fixed;
}

.sidebar-content li {
    height: 50px;
    position: flex;
}

.sidebar-content ul {
    list-style: none;
    padding: 0;
}

.sidebar li a span {
    display: none;
    font-weight: bold;
    letter-spacing: 3px;
}

.sidebar-content ul li {
    margin-bottom: 10px;
}

.sidebar-content ul li a {
    text-decoration: solid;
    color: whitesmoke;
    height: 100px;
    width: 100px;
    transition: all .3s linear;
}

ul li a:hover span {
    display: flex;

}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.content {
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
}

.main {
    position: grid;
    margin: 0;

}






    