​<div class="container">
    <!-- Header -->
    <header>
        <!-- Header content -->
        <div class="header">
            <div class="title">
                <img src="/assets/images/caaslogo.png" alt="logo">
            </div>
            <div class="search-container">
                <input type="text" placeholder="Search..." class="search-input">
                <button class="search-button"><mat-icon>search</mat-icon></button>
            </div>
            <div class="profile-container">
                <h4 class="profile-name">Johnny Daniel</h4>
                <div class="dropdown">
                    <img src="../../../../assets/images/profile-icon.png" alt="Profile Image" class="profile-img">
                    <ul class="dropdown-content">
                        <li>
                            <a >Dashboard</a>
                            <a >Profile</a>
                            <a >Account</a>
                            <a >Rewards</a>
                            <a href="#" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </header>
    <!-- Header Ends -->
    <div class="content">
        <!-- sidebar -->
        <section class="sidebar">
            <div class="sidebar-content">
                <ul>
                    <li><a (click)="navigateTo('profile')"><mat-icon>people</mat-icon><span>Profile</span></a></li>
                    <li><a (click)="navigateTo('courses')"><mat-icon>school</mat-icon><span>Courses</span></a></li>
                    <li><a href="Schedule"
                            (click)="navigateTo('Schedule')"><mat-icon>schedule</mat-icon><span>Schedule</span></a></li>
                    <li><a href="Survey"
                            (click)="navigateTo('Survey')"><mat-icon>my_library_books</mat-icon><span>Survey</span></a>
                    </li>
                    <li><a (click)="navigateTo('network')"><mat-icon>people</mat-icon><span>Network</span></a></li>
                    <li><a href="Chat" (click)="navigateTo('Chat')"><mat-icon>chat</mat-icon><span>Chat</span></a></li>
                    <li><a (click)="navigateTo('settings')"><mat-icon>settings</mat-icon><span>Settings</span></a></li>
                </ul>
            </div>
        </section>
        <main class="main">
            <div class="search-main">
                <input type="text" placeholder="Search anything..." class="search-inputmain">
            </div>
            <div class="name-card">
                <div>
                    <p><span class="name-line">Hello Johnny Daniel</span><br><span class="welcome-line">Welcome to
                            Training Board</span></p>
                </div>
            </div>
            <div class="person-details">
                <p><span>Johnny Daniel</span><br>
                    <span class="email">johnnydaniel@gmail.com</span>
                </p>
                <div class="edit-icon"><mat-icon>edit</mat-icon></div>
                <div>
                    <img src="assets/images/profile-icon.png" alt="" class="profile-icon">
                </div>
                <div>
                    <p class="edit-image">edit image</p>
                </div>
                <p><span class="email">Company</span>
                    <span class="name1"> Boeing </span>
                </p>
                <p><span class="email">Department</span>
                    <span class="name1"> Aviation Safety</span>
                </p>
                <p><span class="email">Designation</span><br>
                    <span class="ui-ux">Aviation Safety Engineering</span>
                </p>
                <p><span class="email">Experience </span><br>
                    <span>10 Years of Aviation Safety Engineering</span>
                </p>

            </div>
            <div>
                <h6 class="social">Social</h6>
                <p class="message"><mat-icon>chat</mat-icon><br><span>Messages</span></p>
                <div>
                    <p class="follow"><mat-icon>check_box</mat-icon><br><span>Follow</span></p>
                </div>
                <p class="notification"><mat-icon>notifications</mat-icon><br><span>Notification</span></p>
                <p class="widgets"><mat-icon>share</mat-icon><br><span>Widgets</span></p>
            </div>
            <div>
                <h6 class="attendence">Attendence</h6>
                <img src="assets/images/atendence.png" alt="attendence" class="attendence-img">
            </div>
            <div>
                <h6 class="profile-strength">Profile Strength</h6>
                <img src="assets/images/profile-strength1.png" alt="profile-strength" class="profile-strength-img">
            </div>
            <div>
                <h6 class="trainerstofollow"></h6>
                <img src="assets/images/trainerstofollow.png" alt="trainerstofollow" class="trainerstofollow-img">
            </div>
        </main>

    </div>



    <!-- Footer -->
    ​<div class="footer">
        <div>
            <p><span class="first-line">© 2023 CAAS. All rights reserved.</span><br><span class="second-line">Terms of
                    services private policy</span></p>
        </div>

        <div class="right-content">
            <p>Powered by Innovatiq</p>
        </div>
    </div>
    <!-- Footer Ends -->
</div>