<img class="pimg"  src="../../../../assets/images/caaslogo.png"><br>
<div class="left-half">
    <img class="img" src="../../../../assets/images/loginlogo.png">
  </div>
  <div class="right-half">
    <h1 class="wel">Welcome Back</h1>
    <button  class="gbtn" ><b class="lgbtn">Login with Singpass</b></button><br><br>
                <span class="ortext">__________________OR_________________</span><br><br>
<form [formGroup]="loginForm">
  <div class="form_group">
    <mat-form-field class="field"appearance="outline">
      <input matInput formControlName="email"  placeholder="Email ID">
  </mat-form-field>
  <mat-error *ngIf="isSubmitted"class="field">{{utils.getErrorMessage(loginForm, "email")?.message}}</mat-error>
</div>
<div class="form_group">
  <mat-form-field class="field"appearance="outline">
    <input matInput  type="password" formControlName="password" placeholder="Password">
</mat-form-field>
<mat-error *ngIf="isSubmitted" class="field">{{utils.getErrorMessage(loginForm, "password")?.message}}</mat-error>
</div>
<a href="#" class="fpswrd">Forgot Password ?</a><br><br>
<img class="verimg" src="../../../../assets/images/ver.png"><br>
<input type="text" class="inptxt"><br>
<br>
<button  class="btn" (click)="onSubmit()" ><b>Login</b>
  <!-- <mat-icon>trending_flat</mat-icon> -->
</button><br><br>
<span class="signuptext">Don't Have An Account ! <a  class="signup"href="#">Signup</a></span>
</form>
  </div>