.left-half {
    width: 50%;
    float: left;
  }
  
  .right-half {
    width: 50%;
    float: right;
  }
  .img{
    width:100%
  }
  .wel{
margin-top:200px;
margin-left:250px  }
.gimg{
    width:20px;
}
.gbtn{
  margin-left:250px;
}
.ortext{
  margin-left:250px
}
.field{
  margin-left:250px;
  border-radius: 15px;

}
.btn{
  margin-left:280px;
  border-radius: 15px;
  color:orange;
}

