.pimg{
  max-width: 30%;
  margin-left:15px;
  margin-top:40px;
    }
  
.left-half {
    width: 70%;
    float: left;
  }

  
  .right-half {
    width: 30%;
    float: right;
  }
  .img{
    /* width:100%; */
    margin-top:40px;
    height:100%;
    width:100%;
    /* margin-left:90px; */
  }
  .wel{
margin-top:50px;
margin-left:50px;
font-size: 40px;  }
.gimg{
    width:20px;
    margin-right:10px;
}
/* .gbtn{
  margin-left:220px;
  margin-top:10px;
  padding:0px 60px 0px 40px;
  background-color: brown;
} */
.gbtn{
  margin-left:50px;
  background-color: rgb(72, 72, 119);
  color: white;
  padding:7px 60px 7px 40px;
  margin-right:20px;
  font-family:sans-serif;
  border:1px solid white

}
.lgbtn{
  margin-left:20px;
  color: white;
}
.ortext{
  margin-left:50px
}
.field{
  margin-left:50px;
}
.btn{
  margin-left:100px;
  border-radius: 25px;
  background-color: rgb(72, 72, 119);
  color: white;
  padding:10px 30px 10px 30px;
  margin-right:20px;
  margin-bottom:20px;
  font-family:sans-serif;
  padding:10px 40px 10px 40px;
  border:1px solid white

}
.fpswrd{
  margin-left:120px;
  color:palevioletred
}
.signuptext{
  margin-left:50px;
}
.signup{
  color:palevioletred

}
.verimg{
  margin-left:50px;
}

