.container {
    padding: 25px;
    background-color:white;
    display: flex;
    flex-direction: row;

  }  
  .image-container {
    align-self: flex-start;
  }
  .tab-group-width {
    width: 100%;
  }
  .tabwidth{
    max-width: 50%;
  }
  .btn{
    padding:0px 40px;
    margin-right:20px;
    border:3px;
    outline: 1px solid blue;
    border-radius:20px;

  }
  .search-container {
    margin-top: 10px; 
    margin-right:20px;
  }
  
  .search-input {
    padding:8px 30px; 
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 20px; 
    border-radius: 52px;
  }
  .engtext{
    font-size: 50px;
    margin-top:100px;
    margin-bottom:30px;
  }
  .ontext{
    font-size: 40px;
    color:brown;
    margin-bottom:25px;
  }
  .coursetext{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
  }
  .spantxt{
    font-size:20px;
  }
  .img{
    height: 400px;
    margin-left:100px;
    margin-top:50px;
  }
  .flex{
    display: flex;
    flex-direction: row;
  }
  .card{
    margin-right:30px;
    padding:0px 100px 0px 10px;
    border-radius:10px;
  }
  .h2{
    margin-left:60px;
  }
  .course{
    color: grey;
    margin-left:55px;
  }
  .left-half {
    width: 30%;
    float: left;
  }
  
  .right-half {
    width: 70%;
    float: right;
  }
  .png{
    height:60px;
  }

.header {
  display: flex;
  justify-content: space-between;
  overflow: none;
}

    