.header {
  display: flex;
  flex-direction: row;
}

.search-input {
  border-radius: 52px;
  padding: 1px 1px;
  margin-left: 60px;
  margin-left: 20px;
  width: 318px;
  height: 30px;
  top: 10px;
  margin-top: 10px;
  padding-left: 80px;
}

.btn {
  padding: 0px 40px;
  border: 3px;
  outline: 1px solid rgb(72, 72, 119);
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 10px;

}

.sbtn {
  padding: 0px 45px;
  border: 3px;
  outline: 1px solid rgb(72, 72, 119);
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: rgb(72, 72, 119);
  color: whitesmoke;
  height: 41px;

}

.container-fluid {
  margin-top: 25px;
  /* position: fixed; */
}

.tabs {
  margin-left: 50px;
}

.img {
  margin-left: 60px;
}