<div class="container-fluid">
<div class="header">
        <img class="img"  src="../../../../assets/images/caaslogo.png">
      <mat-tab-group class="tabs" >
        <mat-tab label="Home">
        </mat-tab>
        <mat-tab label="Courses"></mat-tab>
        <mat-tab label="About"></mat-tab>
      </mat-tab-group>
      <input matInput type="text" placeholder="Search..." class="search-input">

        <button class="btn" (click)="navigate()" mat-button>Login</button>
        <button class="sbtn" ><b>Signup</b></button>
  </div>

</div>
