<div class="container">
    <header>
        <!-- Header content -->
        <div class="header">
            <div class="title">
                <img src="/assets/images/caaslogo.png" alt="logo" >
            </div>
            <div class="search-container">
                <input type="text" placeholder="Search..." class="search-input">
                <button class="search-button"><mat-icon>search</mat-icon></button>
            </div>
            <div class="profile-container">
                <h4 class="profile-name">Jhonny Daniel</h4>
                <img src="../../../../assets/images/Profile.png" alt="Profile Image" class="profile-img">
                <!-- <div class="dropdown">
                    <img src="../../../../assets/images/Profile.png" alt="Profile Image" class="profile-img">
                    <div class="dropdown-content">
                        <a href="#">Dashboard</a><br>
                        <a href="#" (click)="logout()">Logout</a>
                      </div>
                    </div> -->

            </div>
        </div>
    </header>

    <main>

        <section class="sidebar">
            <div class="sidebar-content">
                <ul>
                    <li><a 
                            (click)="navigateTo('profile')"><mat-icon>people</mat-icon><span>Profile</span></a></li>
                    <li><a 
                            (click)="navigateTo('courses')"><mat-icon>school</mat-icon><span>Courses</span></a></li>
                    <li><a href="Schedule"
                            (click)="navigateTo('Schedule')"><mat-icon>schedule</mat-icon><span>Schedule</span></a></li>
                    <li><a href="Survey"
                            (click)="navigateTo('Survey')"><mat-icon>my_library_books</mat-icon><span>Survey</span></a>
                    </li>
                    <li><a 
                            (click)="navigateTo('network')"><mat-icon>people</mat-icon><span>Network</span></a></li>
                    <li><a href="Chat" (click)="navigateTo('Chat')"><mat-icon>chat</mat-icon><span>Chat</span></a></li>
                    <li><a href="Settings"
                            (click)="navigateTo('Settings')"><mat-icon>settings</mat-icon><span>Settings</span></a></li>
                </ul>
            </div>
        </section>

        <div class="post-search">
            <div>
                <img src="assets/images/Profile.png" alt="profile" class="profile-icon">
                <h4>Tag a post here...</h4>
                <div class="horz-line"></div>
                <div class="side-by-side">
                    <div class="side-by-side"><mat-icon>videocam</mat-icon>Live/video</div>
                    <div class="side-by-side"><mat-icon>add_a_photo</mat-icon>Photo/Video</div>
                    <div class="side-by-side"><mat-icon>tag_faces</mat-icon>Activity/Feelings</div>
                </div>


            </div>
        </div>
        <div class="feed-post">
            <img src="assets/images/caas-img.png" alt="profile" class="profile-icon">
            <h4>Civil Aviation Authority of Singapore </h4>
            <p>1 month ago.</p>

            <h6>Today, CAAS celebrates the first-ever Multi-Regional Trajectory Based Operations (TBO) Demonstration
                Flight, using a Boeing 787-10 ecoDemonstrator Explorer!
                Together with The Boeing Company, the three-year long collaboration amongst four major air hubs, Japan,
                Singapore, Thailand and the United States, culminated in this demonstration flight. This is a major step
                forward in our joint effort towards sustainable aviation, aimed at improving flight efficiencies and
                reducing carbon emissions, with potential to cut an aircraft’s fuel burn by up to 10%.</h6>

            <img src="assets/images/aero1.png" alt="feed-post1" class="feed-post1">
            <a
                href="https://www.caas.gov.sg/.../pack-it-right-for-your-flight">https://www.caas.gov.sg/.../pack-it-right-for-your-flight</a>
            <div>
                <button type="button" class="btn">Read More</button>
            </div>
            <div class="like-com">
                <div class="side-by-side">
                    <div class="side-by-side"><mat-icon>thumb_up</mat-icon>1.5k Likes</div>
                    <div class="side-by-side"><mat-icon>message</mat-icon>Comments</div>
                    <div class="side-by-side"><mat-icon>share</mat-icon>Share</div>
                </div>

            </div>
            <div class="horz-line1"></div>


            <div class = "comment-img">
                <img src="assets/images/caas-img.png" alt="cass-img" class="profile-icon">
            </div>

            <div > 
                <input class="w-comment" type="text" placeholder="Write your Comment...">
            </div>

            <div>
                <button type="button" class="send-btn">Send</button>
            </div>

        </div>
        <div class="feed-post">
            <img src="assets/images/caas-img.png" alt="profile" class="profile-icon">
            <h4>Civil Aviation Authority of Singapore </h4>
            <p>6 days ago.</p>

            <h6>In recognition of its outstanding achievement for 2022, 
                Singapore Aviation Academy (SAA), the training arm of CAAS, is honored to receive the
                “Highest Number of Trainees – Delivery of Member-ICAO Training Packages” award from 
                ICAO - International Civil Aviation Organization. The award was presented to SAA at the 
                TRAINAIR PLUS Programme Recognition Award Ceremony held in conjunction with the ICAO Global 
                Implementation Support Symposium in Seoul, Republic of Korea, on 31 May 20…<a href="#">See more</a></h6>

            <img src="assets/images/team1.png" alt="feed-post1" class="feed-post1">
            
            <a href="https://www.caas.gov.sg/.../pack-it-right-for-your-flight">https://www.caas.gov.sg/.../pack-it-right-for-your-flight</a>
            <div>
                <button type="button" class="btn">Read More</button>
            </div>

            <div class="like-com">
                <div class="side-by-side">
                    <div class="side-by-side"><mat-icon>thumb_up</mat-icon>1.5k Likes</div>
                    <div class="side-by-side"><mat-icon>message</mat-icon>Comments</div>
                    <div class="side-by-side"><mat-icon>share</mat-icon>Share</div>
                </div>

            </div>
            <div class="horz-line1"></div>


            <div class = "comment-img">
                <img src="assets/images/caas-img.png" alt="cass-img" class="profile-icon">
            </div>

            <div > 
                <input class="w-comment" type="text" placeholder="Write your Comment...">
            </div>

            <div>
                <button type="button" class="send-btn">Send</button>
            </div>

        </div>
        <div class="feed-post">
            <img src="assets/images/caas-img.png" alt="profile" class="profile-icon">
            <h4>Civil Aviation Authority of Singapore </h4>
            <p>6 days ago.</p>
                <h5>𝗖𝗔𝗔𝗦 𝗧𝗢 𝗘𝗦𝗧𝗔𝗕𝗟𝗜𝗦𝗛 𝗧𝗘𝗠𝗣𝗢𝗥𝗔𝗥𝗬 𝗥𝗘𝗦𝗧𝗥𝗜𝗖𝗧𝗘𝗗 𝗔𝗥𝗘𝗔𝗦 𝗙𝗢𝗥 𝗡𝗗𝗣-𝗥𝗘𝗟𝗔𝗧𝗘𝗗 𝗔𝗘𝗥𝗜𝗔𝗟 𝗔𝗖𝗧𝗜𝗩𝗜𝗧𝗜𝗘𝗦
                </h5>
            <h6>Under the Air Navigation Order (ANO), Temporary Restricted Areas (TRAs) will be set up over parts of Singapore on selected days in May, June, July, and August 2023. The TRAs ensure the safety of the public and the aircraft that will be flying at low levels as part of the aerial activities for National Day Parade 2023.
                Please refer to Onemap.sg or the OneMap app for information on areas where aerial activities are prohibited or require a permit.
                For more information,<a href="#">See more</a></h6>

            <img src="assets/images/onemap.png" alt="feed-post1" class="feed-post1">
            
            <a href="https://www.caas.gov.sg/.../establishment-of-temporary.../">https://www.caas.gov.sg/.../establishment-of-temporary.../</a>
        <div>
            <button type="button" class="btn">Read More</button>
        </div>

            <div class="like-com">
                <div class="side-by-side">
                    <div class="side-by-side"><mat-icon>thumb_up</mat-icon>1.5k Likes</div>
                    <div class="side-by-side"><mat-icon>message</mat-icon>Comments</div>
                    <div class="side-by-side"><mat-icon>share</mat-icon>Share</div>
                </div>

            </div>
            <div class="horz-line1"></div>


            <div class = "comment-img">
                <img src="assets/images/caas-img.png" alt="cass-img" class="profile-icon">
            </div>

            <div > 
                <input class="w-comment" type="text" placeholder="Write your Comment...">
            </div>

            <div>
                <button type="button" class="send-btn">Send</button>
            </div>

        </div>
        
        <div>
            <button type="button" class="load-btn">Read More....</button>
        </div>

        <div class="groups">
            <div class="group-name">Groups</div>
            <div class="group-search">
                <input type="text" placeholder="Search..." class="group-search-input">
                <button class="group-search-button"><mat-icon>search</mat-icon></button>
            </div>
            <div class="create-group">
                <a href="Create your Group">Create your Group</a>
            </div>
            <div>
                <img src="assets/images/socialwork.png" alt="socialwork" class="social-work">
            </div>
            <div class="social-name">
                <div>Social work</div>
                <p>30 members</p>
                <p class="public1">Public 1 mth ago</p>
            </div>
            <div>
                <img src="assets/images/counselling.png" alt="counselling" class="social-work">
            </div>
            <div class="social-name">
                <div>counselling</div>
                <p>10 members</p>
                <p class="public1">Public 1 mth ago</p>
            </div>
            <div>
                <img src="assets/images/nursing.png" alt="nursing" class="social-work">
            </div>
            <div class="social-name">
                <div>nursing</div>
                <p>10 members</p>
                <p class="public1">Private 1 mth ago</p>
            </div>

        </div>

        <div class="chat">
             <div class="chat-name">Chat</div>
             <div>
                <img src="assets/images/chat.png" alt="chat" class="chat-img">
             </div>
            
        </div>
        

        


        
    </main>

    <footer>
        ​<div class="footer">
            <div>
                <p><span class="first-line">© 2023 CAAS. All rights reserved.</span><br><span
                        class="second-line">Terms of services private policy</span></p>
            </div>

            <div class="right-content">
                <p>Powered by Innovatiq</p>
            </div>
        </div>
    </footer>


</div>