
<div *ngIf="currentUrl == 'home'">
<app-header></app-header>
</div>
<div class="main-container">
  <div class="flex">
    <div class="title">
    <h2 class="engtext">Engaging &</h2>
    <h2 class="ontext">Accessible Online</h2>
    <h1 class="coursetext">Courses For All</h1><br>
    <span class="spantxt">Learning Platform that helps thousands of people</span><br><br>
    <span class="spantxt">to acquire courses they need</span><br><br><br><br>
    <img src="../../../../assets/images/img.png">
  </div>
  <div>
    <img class="img" src="../../../../assets/images/tutorial.png">
  </div>
  </div>
    <div class="flex">
      <mat-card class="card">
        <mat-card-content>
          <div class="flex">
            <div class="image-container">
              <img class="cimg" src="../../../../assets/images/book.png" alt="Book Image">
            </div>
            <div class="text-container">
              <h2 class="h2">25</h2>
              <span class="course">Featured Courses</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card">
        <mat-card-content>
          <div class="flex">
            <div class="image-container">
              <img class="cimg" src="../../../../assets/images/book.png" alt="Book Image">
            </div>
            <div class="text-container">
              <h2 class="h2">20</h2>
              <span class="course">Stackable Courses</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card">
        <mat-card-content>
          <div class="flex">
            <div class="image-container">
              <img class="cimg" src="../../../../assets/images/live.png" alt="Live Image">
            </div>
            <div class="text-container">
              <h2 class="h2">2K</h2>
              <span class="course">Live Sessions</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card">
        <mat-card-content>
          <div class="flex">
            <div class="image-container">
              <img class="cimg" src="../../../../assets/images/views.png" alt="View Image">
            </div>
            <div class="text-container">
              <h2 class="h2">5K</h2>
              <span class="course">Views</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      </div>
  </div>
  <div class="sub-container">
    <br>
    <h2 class="fecourse">Featured Courses by CAAS</h2>
    <div class="carouse-container">
    <div class="image-slider">
      <button class="slider-btn" (click)="showPreviousImages()" [hidden]="isFirstPage()"><span class="lt">&lt;</span></button>
      <div class="slider">
        <div  class="images-container" *ngFor="let image of visibleImages; let i = index">
          <img  class="carousel"(click)="openCourse('featured-course')" [src]="image.src" [alt]="image.alt">
          <h2 class="titletexts" (click)="openCourse('featured-course')">{{image.title}}</h2>
          <span class="content-texts">{{ image.text }}</span>
          <span class="date-texts"><strong>Dates:{{ image.dates }}</strong></span><br>
          <!-- <button class="learnbtn" type="button"><b>Learn More</b></button> -->
        </div>
      </div>
      <button class="slider-btn" (click)="showNextImages()" [hidden]="isLastPage()"><span class="lt">&gt;</span></button>
    </div>
    
  </div>
  <h2 class="fecourse">Diploma Programmes by CAAS</h2>
  <div class="carouse-container">
    <div class="image-slider">
      <button class="slider-btn" (click)="showPreviousStack()" [hidden]="isFirst()"><span class="lt">&lt;</span></button>
      <div class="slider">
        <div  class="images-container" *ngFor="let image of stackableImages; let i = index">
          <img class="carousel" (click)="openCourse('stackable-course')"  [src]="image.src">
          <h2 class="title-stack">{{image.title}}</h2>
          <p>{{ image.text }}</p>
          <button class="sbtn"(click)="openCourse('stackable-course')" ><b>Learn More</b></button>

        </div>
      </div>
      <button class="slider-btn" (click)="showNextStack()" [hidden]="isLast()"><span class="lt">&gt;</span></button>
    </div>
    
  </div>
<br><br>
<footer>
  ​<div class="footer">
      <div>
          <p><span class="first-line">© 2023 CAAS. All rights reserved.</span><br><span
                  class="second-line">Terms of services private policy</span></p>
      </div>

      <div class="right-content">
          <p>Powered by Innovatiq</p>
      </div>
  </div>
</footer>
</div>





