
<div class="container">
  <div class="flex">
    <div class="title">
    <h2 class="engtext">Engaging &</h2>
    <h2 class="ontext">Accessible Online</h2>
    <h1 class="coursetext">Courses For All</h1><br>
    <span class="spantxt">Learning Platform that helps Thousands of people</span><br>
    <span class="spantxt">to acquire courses they need</span><br><br>
    <img src="../../../../assets/images/img.png">
  </div>
  <div>
    <img class="img" src="../../../../assets/images/tutorial.png">
  </div>
  </div><br>
  <div>
    <div class="flex">
      <mat-card class="card">
      <mat-card-content>
      <div class="flex">
      <img src="../../../../assets/images/book.png">
      <div>
        <h2 class="h2"> 25</h2>
      </div>
      
      </div>
      <span class="course">Featured Courses</span>
      
      </mat-card-content>
      </mat-card>
      <mat-card class="card">
      <mat-card-content>
      <div class="flex">
      <img src="../../../../assets/images/book.png">
      <h2 class="h2"> 20</h2>
      </div>
      <span class="course">Stackable Courses</span>
      
      </mat-card-content>
      </mat-card>
      <mat-card class="card">
      <mat-card-content>
      <div class="left-half">
      <img class="p" src="../../../../assets/images/live.png">
      </div>
      <div class="right-half">
      <h2 class="h2"> 2K</h2>
      <span class="course">Live Sessions</span>
      </div>
      </mat-card-content>
      </mat-card>
      <mat-card class=card>
      <mat-card-content>
      <div class="flex">
      <img src="../../../../assets/images/views.png">
      <h2 class="h2"> 5K</h2>
      </div>
      <span class="course">Views</span>
      </mat-card-content>
      </mat-card>
      
      </div>
  </div>
  <!-- <div class="card_flex">
    
      <div class="card2">
        <div class="card_data">
          <div class="">
            <img src="../../../../assets/images/book.png">
          </div>
      
          <div class="course">
            <h1>25</h1>
            <p>Live Stream</p>
       </div>
        
      </div>
      </div> -->
    
   
      <!-- <div class="card2">
        <div class="card_data">
          <div class="center">
            <img src="../../../../assets/images/book.png">
          </div>
      
          <div class="course">
            <h1>25</h1>
            <p>Live Stream</p>
       </div>
        
      </div>
      </div> -->
    

      <!-- <div class="card2">
        <div class="card_data">
          <div class="center">
            <img src="../../../../assets/images/book.png">
          </div>
      
          <div class="course">
            <h1>25</h1>
            <p>Live Stream</p>
       </div>
        
      </div>
      </div> -->
    
    <!-- <div>1</div> -->

  </div>



